extensions:
	webloader: AlesWita\Components\WebLoader\Extension

application:
	mapping:
		*: AlesWita\Components\WebLoader\Tests\App\Presenters\*Presenter

services:
	baseLinks.presenter:
		class: AlesWita\Components\WebLoader\Tests\App\Presenters\BaseLinksPresenter

	debugMode.presenter:
		class: AlesWita\Components\WebLoader\Tests\App\Presenters\DebugModePresenter

	routing.router: AlesWita\Components\WebLoader\Tests\App\Router\Router::createRouter
