extensions:
	webloader: AlesWita\WebLoader\Extension

application:
	mapping:
		*: AlesWita\WebLoader\Tests\App\Presenters\*Presenter

services:
	baseLinks.presenter:
		class: AlesWita\WebLoader\Tests\App\Presenters\BaseLinksPresenter

	getters.presenter:
		class: AlesWita\WebLoader\Tests\App\Presenters\GettersPresenter

	debugMode.presenter:
		class: AlesWita\WebLoader\Tests\App\Presenters\DebugModePresenter

	routing.router: AlesWita\WebLoader\Tests\App\Router\Router::createRouter
