webloader:
	expiration: 1 WEEK
	cache:
		namespace: foo
		tag: foo
	files:
		-
			originalFile: %appDir%/../files/css.css
			tag: css
		-
			originalFile: %appDir%/../files/js.js
			tag: js

	folders:
		-
			originalFolder: %appDir%/../files/folder
			tag: other
			folder: other

	htmlTags:
		-
			tag: Nette\Utils\Html()::el('link', [rel: icon, type: image/png, href: /img/foo.png])
